@page
@model RazorPageEventMaker.Pages.Events.IndexModel
@using RazorPageEventMaker.Models
@using RazorPageEventMaker.Interfaces
@inject IEventRepository repo
@inject ICountryRepository countryRepo
@{
    ViewData["Title"] = "Event Oversigt";
}

<h1>List of events</h1>

<form method="post">
    <p>
        Search: <input type="text" asp-for="@Model.FilterCriteria"/>
        <input type="submit" value="Search"/>
    </p>
</form>
<p>
    <a asp-page="CreateEvent">Create New Event</a>
    <p>Number of events @repo.GetAllEvents().Count</p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Place</th>
            <th>Date and Time</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Events) {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.City</td>
            <td>@item.DateTime</td>
            <td>@countryRepo.GetCountry(item.CountryCode).Name</td>
            <td><a asp-page="EditEvent" asp-route-id="@item.Id">Edit</a></td>
            <td><a asp-page="DeleteEvent" asp-route-id="@item.Id">Delete</a></td>
        </tr>
        }
    </tbody>
</table>
